<tr id="create_section">
  <%= simple_form_for(@section)  do |p| %>
    <td> </td>
    <td> <%= p.input :name %></td>
    <td><%= p.button :submit, class:'create_section' %></td>
    <td> </td>
  <% end %>
</tr>